<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body class="stack-lg" >
    <div class="banner"><h1>Posts</h1></div>
    <div class="posts">
        <ol>
            <div class='cards-container'>
                <% postList.results.forEach(function(post) {%>
                    <li class="post-container">
                        <img src=
                        <%= post.imageUrl %>
                        alt="An image of a post">
                        <div class="text-container">
                            <p class="username">by <%= post.postedBy.username %> </p>
                            <p class="timestamp"><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></p>
                            <p class="message"><%= post.message %></p> 
                        </div>
                        <div class="rate">
                            <div class="like-dislike">
                                <form method="post" action="/posts/<%= post.id %>/like/">
                                    <button type="submit">
                                        <div class="icon-container">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                        </div>
                                    </button>
                                </form>
                                <p><%= post.likedBy.length %></p>
                            </div>

                            <div class="like-dislike">
                                <form method="post" action="/posts/<%= post.id %>/dislike/">
                                    <button type="submit">
                                        <div class="icon-container">
                                            <i class="fa-solid fa-thumbs-down"></i>
                                        </div>
                                    </button>
                                </form>
                                <p><%= post.dislikedBy.length %></p>
                            </div>

                        </div>

                    </li>
                <% }); %>
            </div>

        </ol>
    </div>

    <div class="pages">
        <%if (postList.next) { %>
            <a href="<%= postList.next %>">Next</a>
        <% } %>
        <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>
    </div>

</body>
<%- include('_footer') -%>
</html>