<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <h1>Posts</h1>
        <ol>
            <% postList.results.forEach(function(post) {%>
                <li>
                    <p><%= post.id %></p>
                    <p><%= post.message %></p> 
                    <p><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></p>
                    <img src=
                    <%= post.imageUrl %>
                    alt="An image of a post">
                    <p>by <%= post.postedBy.name %> </p>
                    <p>Liked by <%= post.likedBy.length %> </p>
                    <p>Disliked by <%= post.dislikedBy.length %></p>
                    <form method="post" action="/posts/<%= post.id %>/like/">
                        <button type="submit">Liking</button>
                    </form>
                    <form method="post" action="/posts/<%= post.id %>/dislike/">
                        <button type="submit">Disliking</button>
                    </form>
                </li>
            <% }); %>
        </ol>
        <%if (postList.next) { %>
            <a href="<%= postList.next %>">Next</a>
        <% } %>
        <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>


</body>
<%- include('_footer') -%>
</html>