<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Users</h1>
<ol>
    <% results.forEach(function(user) {%>
        <li>
            <a href="/users/<%= user.id%>"><%= user.name %></a>
            <p><%= user.id %></p>
            <p><%= user.username %></p>
            <img src= <%= user.profileImageUrl %> alt="An image a user profile">
            <!-- <img src= <%= user.coverImageUrl %> alt="An image a user cover"> -->
            <p>Posts: <%= user.posts.length %>  Likes: <%= user.likes.length %>  Disliks: <%= user.dislikes.length %></p>

        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>